<a href="https://colab.research.google.com/github/quannoodle/colab-public/blob/main/correlation/Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Init

In [1]:
import pandas as pd
import numpy as np

# Reading Data

In [4]:
url = 'https://raw.githubusercontent.com/quannoodle/colab-public/main/correlation/data/two-variables.csv'
df = pd.read_csv(url)
df

In [5]:
df

    a   b
0  85   5
1  27   6
2  38   7
3  32  10
4  31  14
5  96  15
6  30  16
7  36  18
8  36  19
9  53  33

# Pearson Correlation

In [6]:
corr_matrix = df.corr()
corr_matrix

          a         b
a  1.000000 -0.014953
b -0.014953  1.000000