<a href="https://colab.research.google.com/github/quannoodle/colab-public/blob/main/correlation%20/Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Init

In [ ]:
import pandas as pd
import numpy as np

# Reading Data

In [27]:
url = 'https://raw.githubusercontent.com/quannoodle/colab-public/main/correlation/data/two-variables.csv'
df = pd.read_csv(url)
df

    a   b
0   1   5
1   2   6
2   3   7
3   4  10
4   5  14
5   6  15
6   7  16
7  10  18
8  10  19
9   9  33

# Pearson Correlation

In [28]:
corr_matrix = df.corr(method='pearson')
print(type(corr_matrix))
print(corr_matrix.columns)
columns = list(corr_matrix.columns)
corr_matrix[columns[0]][columns[1]]

<class 'pandas.core.frame.DataFrame'>
Index(['a', 'b'], dtype='object')

0.8297533619069261